<%- include('partials/header', {title: 'P.O.S'}) %>
<style>
    html, body {
    height: 100%;
    background-color: black;
}

td{
    margin-top: auto;
    background-color: darkred;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tabelMenu tr, td, img{
    height: 190px;
    width: 280px;
}

.divPesanan{
    vertical-align: baseline;
}

#tabelUtama{
    margin-left: auto;
    margin-right: auto;
}
/* 
#tabelMenu{
    width: fit-content;
} */

#tabelMenu td:hover{
    background-color:#a6ff00;
    color: black;
}

#tabelPesanan{
    vertical-align: top;
    margin-top: 0%;
}
#tabelPesanan th, td, tr{
    vertical-align: top;
    margin: 0;
    border: 2px solid wheat;   
    color: white;
    height: 50px;
}

#tabelPesanan td{
    vertical-align: middle;
}

#namaBarang{
    text-align: left;
    padding-left: 10px;
}

#jumlah{
    text-align: right;
    padding-right: 10px;
}

#total{
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
    background-color: rgb(78, 21, 21) ;
    font-size: x-large;
    height: 78px;
}

#judul{
    background-color: rgb(78, 21, 21) ;
}

.runningText{
    color: white;
    font-size: xx-large;
    height: 50px;
    vertical-align: middle;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: auto;
}

h5{
    color: wheat; 
    text-align: center;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>

<!-- <marquee class="runningText" behavior="scroll" direction="left">
    Selamat Datang di Hacktiv8 Cafe
</marquee> -->

<table id="tabelUtama">
    <tr>
        <td>
            <div id="divMenu">
                <h1>Daftar Menu</h1>
                <table id="tabelMenu">
                    <% results.forEach((el, no) => { %>
                        <% if((no + 1) % 4 == 0) { %>
                            <!-- <tr> -->
                        <% } %>   
                                <td>
                                    <a href="/pos/pesan/<%= el.id %>">
                                        <img src="<%= el.image_url %>" alt="Photo Menu"><br>
                                        <%= el.menu_name %> <br>
                                        <%= "Harga : " + formatNumber(el.price, "money") %>
                                    </a>
                                </td>
                        <% if((no + 1) % 4 == 0) { %>
                            </tr>
                        <% } %>   
                    <% }); %>   
                </table>        
            </div>
        </td>
        <td>
            <div id="divPesanan">
                <h1>Pesanan</h1>
                <table id="tabelPesanan"  style="width: 600px;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th style="width: 1800px;">Name Menu</th>
                            <th style="width: 300px;">Qty</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pesanan.forEach((el, no) => { %>
                            <tr>
                                <td class="col-md-auto"><%= no + 1 %></td>
                                <td><%= el.menu_name %></td>
                                <td><%= el.qty %></td>
                                <td><%= formatNumber((el.qty * el.price), "price") %></td>
                            </tr>
                        <% }); %>   
                        <tr>
                            <td colspan="3">TOTAL</td>
                            <td><%=formatNumber(getTotalCart(pesanan), "price")%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container p-3 my-3 border">
                <form method="POST">
                <div class="mb-3">
                    <label for="payment_type" class="form-label">Payment Type</label>
                    <select id="payment_type" name="payment_type" class="form-control">
                        <option value="CASH">CASH</option>    
                        <option value="CARD">CARD</option>    
                    </select>
                </div>
                <div class="mb-3">
                    <label for="paymentamount" class="form-label">Payment Amount</label>
                    <input type="number" class="form-control" id="paymentamount" name="paymentamount" required value="0">
                </div>
                <button type="submit" class="btn btn-primary">Process Payment</button>
              </form>
            </div>
        </td>
    </tr>
</table>

<%- include('partials/footer') %>